@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");

.jodit-wysiwyg ul {
  list-style-type: disc;
  list-style-position: inside;
}

.jodit-wysiwyg ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.jodit-wysiwyg table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
}

.jodit-wysiwyg td, .jodit-wysiwyg th {
  border: 2px solid black;
  padding: 0.5rem;
  background-color: #ffffff; /* Ensure white background */
}
